body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.row {
  white-space: pre-wrap;
  height: 80px;
}

.plannerRow {
  margin: 10px;
}

.timeBlock{
  text-align: center;
  border-radius: 20px;
  background-color: #ffffff;
  color: black;
  padding: 10px;
  position: relative;
  top: 32px;
  height: 50%;
  width: 90%;
}

.hrInput {
  color: black;  
  font-size: 12pt;
  height:50%;
  width: 90%;
  position: relative;
  top: 20px;
}

.fas {
  position: relative;
  top: 20px;
  font-size: 1.2em;
  background-color: #06AED5;
  height: 50%;
  width: 90%;
}


@media (max-width: 768px) {
  .plannerRow {
    height: 150px;
  }
  .hrInput {
    position: relative;
    top: 30px;
  }
  .fas {
    position: relative;
    top: 15px;
  }
}